# framework.properties -
#

# ----------------------------------------------------------------
# Rundeck server connection information
# ----------------------------------------------------------------

{% if nginx|bool == true %}
framework.server.name = {{ rd_internal_url }}
framework.server.hostname = {{ rd_internal_url }}
framework.server.port = {{ rd_port }}
framework.server.url = http://{{ rd_internal_url }}:{{ rd_port }}
{% else %}
framework.server.name = {{ rd_external_url }}
framework.server.hostname = {{ rd_external_url }}
framework.server.port = {{ rd_port }}
framework.server.url = http://{{ rd_external_url }}:{{ rd_port }}
{% endif %}
# ----------------------------------------------------------------
# Installation locations
# ----------------------------------------------------------------

rdeck.base=/var/lib/rundeck

framework.projects.dir=/var/lib/rundeck/projects
framework.etc.dir=/etc/rundeck
framework.var.dir=/var/lib/rundeck/var
framework.tmp.dir=/var/lib/rundeck/var/tmp
framework.logs.dir=/var/lib/rundeck/logs
framework.libext.dir=/var/lib/rundeck/libext

# ----------------------------------------------------------------
# SSH defaults for node executor and file copier
# ----------------------------------------------------------------

framework.ssh.keypath = /var/lib/rundeck/.ssh/id_rsa
framework.ssh.user = rundeck

# ssh connection timeout after a specified number of milliseconds.
# "0" value means wait forever.
framework.ssh.timeout = 0


# ----------------------------------------------------------------
# Auto generated server UUID: 6fadbee5-9575-4de2-a514-7af850e72627
# ----------------------------------------------------------------
rundeck.server.uuid = 6fadbee5-9575-4de2-a514-7af850e72627
