export PS1="\u@\h\\$ "

export RD_URL=http://{{ ansible_default_ipv4.address }}:4440
export RD_USER={{ rd_admin_user }}
export RD_PASSWORD={{ rd_admin_pw }}
export RD_BYPASS_URL=http://{{ rd_external_url }}
