project.description={{ rd_project_description }}
project.disable.executions=false
project.disable.schedule=false
project.execution.history.cleanup.batch=500
project.execution.history.cleanup.enabled=true
project.execution.history.cleanup.retention.days=60
project.execution.history.cleanup.retention.minimum=50
project.execution.history.cleanup.schedule=0 0 0 1/1 * ? *
project.jobs.gui.groupExpandLevel=1
project.label=
project.name={{ rd_project_name }}
project.output.allowUnsanitized=false
project.ssh-authentication=privateKey
project.ssh-command-timeout=0
project.ssh-connect-timeout=0
project.ssh-keypath={{ rd_project_ssh_keypath }}
resources.source.1.type=local
resources.source.2.config.assumeRoleArn={{ rd_project_arn }}
resources.source.2.config.filter=tag\:rundeck\=true
resources.source.2.config.httpProxyPort=80
resources.source.2.config.mappingParams=tags.selector\=tags/Environment;hostname.selector\=privateDnsName,privateIpAddress
resources.source.2.config.pageResults=100
resources.source.2.config.refreshInterval=30
resources.source.2.config.runningOnly=false
resources.source.2.config.synchronousLoad=true
resources.source.2.config.useDefaultMapping=true
resources.source.2.type=aws-ec2
service.FileCopier.default.provider=jsch-scp
service.NodeExecutor.default.provider=jsch-ssh
